{% extends 'base.html' %}
{% load static %}
{% block body %}
<!--=================================
    banner -->
    <section class="header-inner bg-dark text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 ">
            <h2 class="inner-banner-title">Select Sitter</h2>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    banner -->

    <!--=================================
    Team -->
    <section class="space-ptb">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-md-4 mb-0">
            <div class="team">
              <div class="team-image">
                <img class="img-fluid" src="{% static 'images/team/team-01.jpg' %}" alt="">
              </div>
              <div class="team-detail">
                <div class="team-social">
                  <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </div>
                <h4 class="team-title"><a href="/book">Anne Smith</a></h4>
                <span class="team-label">Babysitter</span>
                <div class="team-content">
                  The bottom line is that we must shed the bad and replace with good beliefs.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-md-4 mb-0">
            <div class="team">
              <div class="team-image">
                <img class="img-fluid" src="{% static 'images/team/team-02.jpg' %}" alt="">
              </div>
              <div class="team-detail">
                <div class="team-social">
                  <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </div>
                <h4 class="team-title"><a href="/book">John Doe</a></h4>
                <span class="team-label">Child Care Management</span>
                <div class="team-content">
                  This is the beginning of creating the life that you want to live.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-md-4 mb-0">
            <div class="team">
              <div class="team-image">
                <img class="img-fluid" src="{% static 'images/team/team-03.jpg' %}" alt="">
              </div>
              <div class="team-detail">
                <div class="team-social">
                  <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </div>
                <h4 class="team-title"><a href="/book">Mellissa Doe</a></h4>
                <span class="team-label">Human Development</span>
                <div class="team-content">
                  You will drift aimlessly until you arrive back at the original dock.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="team">
              <div class="team-image">
                <img class="img-fluid" src="{% static 'images/team/team-04.jpg' %}" alt="">
              </div>
              <div class="team-detail">
                <div class="team-social">
                  <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </div>
                <h4 class="team-title"><a href="/book">Joanna williams</a></h4>
                <span class="team-label">Family Systems</span>
                <div class="team-content">
                  You will run aground and become hopelessly stuck in the mud.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team">
              <div class="team-image">
                <img class="img-fluid" src="{% static 'images/team/team-05.jpg' %}" alt="">
              </div>
              <div class="team-detail">
                <div class="team-social">
                  <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </div>
                <h4 class="team-title"><a href="/book">Paul Flavius</a></h4>
                <span class="team-label">Child Development</span>
                <div class="team-content">
                  Have some fun and hypnotize yourself see what the future holds for you.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team mb-0">
              <div class="team-image">
                <img class="img-fluid" src="{% static 'images/team/team-06.jpg' %}" alt="">
              </div>
              <div class="team-detail">
                <div class="team-social">
                  <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </div>
                <h4 class="team-title"><a href="/book">Simmy Flavius</a></h4>
                <span class="team-label">Youth Services</span>
                <div class="team-content">
                  Trying to go through life without clarity is similar to sailing a rudder.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Team -->
{% endblock %}